@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  background-color: #edf1f5 !important;
  font-family: 'Abel', sans-serif !important;

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #222121;
}

::-webkit-scrollbar-thumb {
  background: #5d5fec;
}

::-webkit-scrollbar-thumb:hover {
  background: #a39e9e;
}

a{
  text-decoration: none !important;
  color: #4777e0 !important
}

.click{
  cursor: pointer;
}